@import 'variables';

.chartSettingsBtn {
  float: right;
  border: none;
  background: transparent;
  color: $purple;
  cursor: pointer;
  border: 2px solid $purple;
  border-radius: 4px;
  padding: 10px 13px 8px 13px;
  margin-right: 10px;
  margin-bottom: 30px;
  z-index: 2;
  position: relative;
  .settingsIcon {
    font-size: 4em;
  }
}

.ReactModalPortal {
  z-index: 3;
}

@media (max-width: 540px) {
  .chartSettingsBtn {
    padding: 4px 7px 2px 7px;
    .settingsIcon {
      font-size: 3em;
    }
  }
}

@media (max-width: 1230px) {
  .chartSettingsBtn {
    margin-right: 30px;
  }
  .chartHeaderLogo {
    position: relative;
    left: 30px;
  }
}

.closeChartSettings {
  float: right;
  position: relative;
  top: -53px;
  background: transparent;
  color: $white;
  cursor: pointer;
  border: none;
  i {
    font-size: 3em;
  }
}

.chartEditorInput {
  background: rgba($white, 0.1);
  border: 1px solid $purple;
  border-radius: 4px;
  padding: 10px 20px;
  width: 72px;
  display: inline-block;
  margin: 6px;
  color: $white;
  text-align: center;
  margin-bottom: 2px;
}

.chartEditorInputLeft {
  margin-left: 0;
}

.chartEditorInputRight {
  margin-right: 0;
}

.chartEditorLabel {
  color: $white;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 4px;
  margin-top: 10px;
  font-size: 12px;
}

.amountWrap {
  button {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid $purple;
    background: $white;
    color: black;
    margin: 0 4px 4px 0;
    cursor: pointer;
    &:hover {
      background: $teal;
      color: $white;
      border: 1px solid $teal;
    }
  }

  .activeXAmount {
    background: $purple;
    color: $white;
  }
}

/* Modal Menu */

.bm-burger-button {
  position: fixed;
  right: 23px;
  top: 23px;
  height: 34px;
  width: 34px;
  background: $purple;
  padding: 6px;
  border-radius: 2px;
  button {
    cursor: pointer;
  }
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px !important;
  width: 24px !important;
  right: 30px !important;
  top: 22px !important;
  button {
    cursor: pointer;
  }
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: $black;
  padding: 0;
  padding-left: 34px;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0;
}

.bm-overlay {
  background: rgba($black, 0.32);
}

.chartBrand {
  z-index: 1;
  position: fixed;
  left: 22px;
  top: 22px;
}

.chartWrapPie .recharts-legend-wrapper {
  width: 100% !important;
  max-width: 550px;
  display: block;
  margin: auto;
  padding: 0 22px 0 22px;
  left: 0;
  right: 0;
  text-align: center;
  div span {
    display: inline-block;
    margin: 0 10px 0 0;
    padding-left: 10px;
  }
  div span:first-child {
    border-left: 16px solid $purple;
  }
  div span:last-child {
    border-left: 16px solid $green;
  }
}
