@import 'variables';

.featuresRoot {
  margin: 0;
  background: $black;
}

.featuresIcon {
  max-width: 100px;
}

.featuresContainer {
  padding: 60px 0 90px;
}

.featuresContainer div {
  width: 33.3333%;
  color: $white;
  text-align: center;
  display: inline-block;

  p {
    max-width: 300px;
    display: block;
    margin: auto;
  }
}

.textFeatures {
  margin-bottom: 60px;
}

h2 {
  color: $white;
  display: block;
  width: 100%;
}

.screenshotAnchor {
  position: relative;
  top: -100px;
}

@media (max-width: 850px) {
  .featuresContainer div h2 {
    font-size: 16px;
  }
  .featuresContainer div p {
    font-size: 12px;
  }
  .featuresIcon {
    max-width: 70px;
  }
}

@media (max-width: 630px) {
  .featuresContainer div {
    width: 100%;
    margin: 20px 0;
  }
  .featuresContainer {
    padding: 0 !important;
  }
}
