.root {
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1200px;
}

.chartContainer {
  padding: 40px 30px !important;
}

.brandTxt {
  margin-left: 10px;
}

.nav {
  float: right;
  margin-top: 6px;
}
