@import 'variables';

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
}

body {
	background: $white;
}

* {
	font-family: 'Roboto', sans-serif;
}

*:focus {
	outline: 0;
}

.chartWrap {
	position: absolute;
	height: 100%;
	width: 100%;
	max-width: 1200px;
	max-height: 500px;
	max-height: auto;
	clear: both;
	left: 0;
	right: 0;
	display: block;
	margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1230px) {
  .chartSettingsBtn {
    margin-right: 48px !important;
  }
}

@media (max-height: 650px) {
	.chartWrap {
		margin-top: 50px;
		margin-bottom: 100px;
	}
	.recharts-legend-wrapper {
		bottom: 100px;
	}
}

@media (max-height: 560px) {
	.chartWrap {
		margin-top: 100px;
	}
}

.recharts-wrapper {
	right: 20px;
}

.chartWrapPie .recharts-wrapper {
	right: 0px;
}

#fromcanvas {
	width: 100%;
	background: $white;
  width: 100%;
  max-width: 195px;
  padding: 26px 24px 22px 15px;
  margin-top: 10px;
  border: 1px solid $purple;
  border-radius: 4px;
	display: none;
}

.exportPngBtn {
	background: $purple;
  color: $white;
	cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 236px;
  padding: 12px;
  margin-top: 16px;
	&:hover {
		background: $teal;
	}
}

.recharts-responsive-container {
  margin-top: 12px;
}

.recharts-legend-wrapper {
	padding-left: 30px;
}

@media (max-width: 1260px) {
	.container {
		padding: 20px 20px !important;
	}
}

.notFoundWrap {
	text-align: center;
	color: $black;
}

.notFoundLogo {
	display: block;
  margin: 40px auto;
}

.notFoundBtn {
	color: $purple;
  text-decoration: none;
  border: 1px solid $purple;
  border-radius: 4px;
  padding: 10px 20px;
  display: inline-block;
	&:hover {
		background: $purple;
		color: $white;
	}
}

.exportedPng img {
	width: 100%;
  background: $white;
  max-width: 194px;
	margin-top: 0px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid $purple;
  padding: 20px 20px 24px 20px;
}
