.navRoot {
  float: right;
  margin-top: 16px;
}

.link {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  border-radius: 4px;
  margin-left: 8px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background: $purple;
    color: $white;
    border: 1px solid $purple;
  }
}

.linkOne {
  color: $red;
  border: 1px solid $red;
}

.linkTwo {
  color: $yellow;
  border: 1px solid $darkyellow;
}

.linkThree {
  color: $green;
  border: 1px solid $green;
}

.linkFour {
  color: $teal;
  border: 1px solid $teal;
}

@media (max-width: 900px) {
  .navRoot {
    display: none;
  }
  .headerContainer .brand img {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -6px;
  }
}
